@inherits LayoutComponentBase
@inject ILocalStorageManager _localStorageManager;
@inject IConnectionManager _connectionManager;

<PageTitle>ServiceBusManager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            foreach (var connection in await _localStorageManager.GetConnections())
            {
                if (_connectionManager.GetServiceBusConnections().Any(x => x.Name == connection.Key)) { break; }
                _connectionManager.AddConnection(connection.Key, connection.Value, out string? localStorageError);
                if (localStorageError is not null)
                {
                    //TODO - and potentially notify user
                    await _localStorageManager.RemoveConnectionFromLocalStorage(connection.Key);
                }
            }
        }
    }
}