@using Azure.Messaging.ServiceBus.Administration;
@using System.Drawing;
@using System.ComponentModel.DataAnnotations;
@inject IServiceBusClientAdminManager _serviceBusClientAdminManager;

<FormModal T="SendMessageForm" Model="_sendMessageForm" @ref="_sendMessageModal" SecondaryButtonText="Send Message" SecondaryButtonAction="SendMessage" SecondaryButtonDisabled="_spinnerActive">
    <ModalButtonLabel>Send Message</ModalButtonLabel>
    <Title>Send Message - @ActiveSubscription?.SubscriptionName</Title>
    <ModalBody>
        @if (_spinnerActive)
        {
            <Spinner/>
        }
        else
        {
            <ValidationSummary />
            <InputTextArea class="fuck-resize fill-parent" rows="25" @bind-Value="_sendMessageForm.MessageText"></InputTextArea>
            <EndlessDictionary Title="Message Properties" OnEndlessDictionaryChange="(s) => {_sendMessageForm.MessageProperties = s;}" />
            <Snackbar Message="Error Sending Message" Active="_hasError" Lifetime="5" TextColor="Color.White" BackgroundColor="Color.Red"></Snackbar>
        }
    </ModalBody>
</FormModal>
@code {
    [Parameter]
    public FullTopicData ActiveFullTopic { get; set; } = null!;
    [Parameter]
    public SubscriptionRuntimeProperties ActiveSubscription { get; set; } = null!;

    private SendMessageForm _sendMessageForm { get; set; } = new SendMessageForm();

    private FormModal<SendMessageForm> _sendMessageModal = null!;
    private bool _spinnerActive = false;
    private bool _hasError = false;

    private async Task SendMessage()
    {
        await runDelayed();

        async Task runDelayed()
        {
            if (ActiveFullTopic is not null)
            {
                _spinnerActive = true;
                if (await _serviceBusClientAdminManager.SendServiceBusMessage(ActiveFullTopic.TopicProperties.Name, _sendMessageForm))
                {
                    _spinnerActive = false;
                    _sendMessageModal.Close();
                }
                else
                {
                    _spinnerActive = false;
                    var context = new ValidationContext(_sendMessageForm);
                    _hasError = Validator.TryValidateObject(_sendMessageForm, context, null, true);
                }
            }
        }
    }
}
